$image-fonts-path           : "../../../fonts/";
$fa-font-path              : "../../../fonts/";
$image-theme-path          : "../../../images/";
$image-theme-skin			: "../../../images/";
$theme-color               : #e54b4b;
$theme-color-secondary      : #e54b4b;
$link-hover-color			:$theme-color;
$brand-primary              :$theme-color;